:root {
    --main-font-color: black;
    --main-page-max-width:100;
}

html {
    box-sizing: border-box;
    font-size: 15px;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-font-color);
    text-rendering: optimizeLegibility;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 2px #000000;

      
}

/*********** header *************/


.mobile-container {
    width: var(--main-page-max-width);
    margin: auto;

  }

.topnav {
  overflow: hidden;
  position: relative;
  background-color: black;
   
}

.topnav #myLinks {
  display: none;
  font-size: 24px;
  background-color: rgb(75, 75, 75);
  height: 100px;
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
}


.topnav a {
  color:  white;
  text-decoration: none;
  display: block;
}

.topnav a.icon {
  background: rgb(75, 75, 75);
  display: block;
  position: absolute;
  padding: 4px 8px;
  right: 1%;
  top: 10%;
  height: 60px;
  width: 60px;
}

.topnav a:hover {
  color: #ffd470ff;
}

.fa fa-bars {
    height: 25px;
}

.active {
  background-color: black;
  width: 30%;
  height: auto;
}

.logo {
    background-color: black;
    width: 40%;
    height: auto;
    margin-top: -10px;
}

/******************* kereső *****************************/ 

.maintitle {
    background-color: white;
    color: #ffd470ff;
    width: var(--main-page-max-width);
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 18px;
}

.mainimage {
    position: relative;
    text-align: center;
    margin: auto;
    justify-content: center;
    min-width: 375px;
    
}

.mainimagetxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 14px black;
}

.searchbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30px;
    
    
}

.responsive {
    width: 100%;
    min-width: 375px;
    height: auto;
  }

/******** Receptek **********/

.fejléc {
    width: var(--main-page-max-width);
    height: 70px;
    font-size: 25px;
    text-align: center;
    margin: auto; 
    background-color: black;
    text-transform: uppercase;
    padding-top: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}

.post-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-bottom: 10px;
}

.blogpost {
    min-width: 185px;
    background-color: rgb(27, 27, 27);
    padding-bottom: 1rem;
   
    
}

.blogpost__thumbnail {
    width: 80%;
    margin: 10% 10% 1rem 10%;
  }

.blogpost__title {
    font-size:1.6rem;
    text-transform: uppercase;
    text-align: center;  
  }

/****************** kapcsolat **************************/
.kapcsolat {
    
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 450px;
    width: 100%;
    border-radius: 1%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

.wrapper1 h2 {
    align-items: center;
    text-align: center;
    color: black;
}

.wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(253, 233, 179);
    align-items: center;
    text-align: center;
    padding: 7px 10px 10px 10px;
 
   
    color: black;

}

.wrapper2 {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    padding: 7px 10px 10px 10px;
    background-color: rgb(253, 233, 179);
    
    color: black;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 14%;
    width: 17%;
    font-size: 18px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(161, 122, 29);
  }
  
  


/*************************** Skills **************************/

section {
    max-width: var(--main-page-max-width);
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    }

section h2 {
    font-size: 2.4rem;
    margin: 1rem 0;
    display: flex;
    padding: 15px;
    justify-content: center;
    color: white;
}

.container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
}

.container div {
    width: var(--main-page-max-width);
    margin: 0.5rem;
}

.container img {
    height: 40px;
    margin: 0,5rem 0;
    
}

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube:hover {
    background-color: red;
    border-radius: 20%;
}
.insta:hover {
    background-color: #9b2f96;
    border-radius: 20%;
}

.facebook:hover {
    background-color: #4064ac;
    border-radius: 20%;
}
.tiktok:hover {
    background-color: #f00043;
    border-radius: 20%;
}

.arrow {
    position: relative;
    height: 30px;
    width: var(--main-page-max-width);
    margin: 0.5rem;
    display: flex;
    align-items: flex-end;
}

.arrow img {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 45px;
    margin: 0,5rem 0;
}

.arrow:hover {
    text-decoration: underline, yellow;
}

footer  {
    margin: 2rem 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.copyright {
    color: white;
    padding-top: 30px;
}

@media screen and (min-width: 576px) {
    .post-main {
    grid-template-columns: repeat(2, 185);

    }

 

    .kapcsolat {
        display: grid;
        grid-template-areas: 
        "1"
        "2";
        
    }
   
}

@media screen and (min-width: 768px) {
    .post-main {
        grid-template-areas:
        "1 2 3 4"
        "5 6 7 8";
    grid-template-columns: repeat(3, 285);
    
    }
    

    .kapcsolat {
        grid-template-areas: 
        "1 2";
        width: 100%;
        
    }

}
